
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

.initial{
    background-color: #05283b;
}

.principal_div_recipe{
    margin-top: 5em;
}

.select_container{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #b1c0dd;
    color: #112a46cf;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 300ms;
    text-align-last: center;
        box-shadow:  
                inset -4px -4px 6px 0 rgba(7, 26, 65, 0.461),
                inset 4px 4px 6px 0 rgba(241, 238, 238, 0.571);
}

.select_container:hover{
    color: #b1c0dd;
    background-color: #112a46cf;
    box-shadow:  
    inset -4px -4px 6px 0 rgba(241, 238, 238, 0.68) ,
    inset 4px 4px 6px 0 rgba(2, 18, 52, 0.666);
}

.diets_container{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #b1c0dd;
    color: #112a46cf;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    text-align-last: center;
    transition: all 300ms;
    box-shadow:  
    inset -4px -4px 6px 0 rgba(7, 26, 65, 0.461),
    inset 4px 4px 6px 0 rgba(241, 238, 238, 0.571);
}

.diets_container:hover{
    color: #b1c0dd;
    background-color: #112a46cf;
    box-shadow:  
    inset -4px -4px 6px 0 rgba(241, 238, 238, 0.68) ,
    inset 4px 4px 6px 0 rgba(2, 18, 52, 0.666);
}

.filters_container{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #b1c0dd;
    color: #112a46cf;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    text-align-last: center;
    transition: all 300ms;
    box-shadow:  
    inset -4px -4px 6px 0 rgba(7, 26, 65, 0.461),
    inset 4px 4px 6px 0 rgba(241, 238, 238, 0.571);
}

.filters_container:hover{
    color: #b1c0dd;
    background-color: #112a46cf;
    box-shadow:  
    inset -4px -4px 6px 0 rgba(241, 238, 238, 0.68) ,
    inset 4px 4px 6px 0 rgba(2, 18, 52, 0.666);
}
