
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
/* font-family: 'Ubuntu', sans-serif; */

.initial{
    background-color: #05283b;
}

.principal_div_recipe{
    margin-top: 5em;
}

.select_container{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #b1c0dd;
    color: #112a46cf;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    text-align-last: center;
}

.diets_container{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #b1c0dd;
    color: #112a46cf;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    text-align-last: center;
    
}

.filters_container{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    background-color: #b1c0dd;
    color: #112a46cf;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    text-align-last: center;
}

::selection{
    color: red;
}