

.home_container{
    background-color: #F1FAFF;
}

.nav_filter_container{
    background-color: #05283b;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}


.recipe_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.empty_space{
    color: transparent;
    height: 10em;
}

.last_div{
    color:transparent;
    background-color: #05283b;
    height: 10em;
    margin-top: 5em;
}