

.home_container{
    background-color: #F1FAFF;
    /* display: flex;
    justify-content: space-evenly; */
}


/* .recipe_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
} */


.recipe_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: solid green; */
    /* align-items: center; */
    /* min-height: 100vh; */
    /* background-color: #F1FAFF; */
}