
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* font-family: 'Amatic SC', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Homemade+Apple&display=swap');
/* font-family: 'Homemade Apple', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
/* font-family: 'Comfortaa', cursive; */





@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,700&display=swap');
/* font-family: 'Sansita', sans-serif; */



@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400&display=swap');
/* font-family: 'Josefin Slab', serif; */



.principal_div_recipe{
    padding: 0px;
    /* border: solid rebeccapurple; */
    /* box-sizing: border-box; */
    background-color: #F1FAFF;
    max-width: 1200px;
    /* margin: auto; */
    margin: 20px;

}


/* card */
.recipe_div {
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    margin: 10px;
    background: linear-gradient(0deg, #FFD879 0%, #faca51 100%);
    border: none;
    height: 400px;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    text-transform: capitalize; 
    transition: all 800ms;
    /* border: #000 solid 3px; */
    
}
.recipe_div:hover{
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    width: 320px;
    margin: 10px;
    background: linear-gradient(0deg, #fec853 0%, #ffba0c 100%);
    border: none;
    height: 400px;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
                inset -4px -4px 6px 0 rgba(255,255,255,.2),
                inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    text-transform: capitalize; 

}
.recipe_div:hover .info_div h4{
    margin: -3px;
}

.recipe_div:hover .img{
    width: 320px;
}



.navlink_container_recipe{
    /* border: solid brown; */
    text-decoration: none;    
}


/* card cover */
.img_div{
    /* border: solid blue; */
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all 800ms;

}
.img{
    /* border: solid red; */
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;
}

.info_div{
    /* border: solid peru; */
    /* background-color: bisque; */
    margin-top: -30px;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    align-content:stretch;
}

.info_div h2{
    /* border: solid blueviolet; */
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Comfortaa', cursive; */
    /* font-family: 'Sansita', sans-serif; */
    font-size: 2em;
    color: #112A46;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.info_div h4{
    /* border: solid goldenrod; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Josefin Slab', serif; */
    font-weight:bolder;
    margin: 0.3em;
    color: #112A46;
}

.info_div h5{
    /* border: solid goldenrod; */
    font-family: 'Lato', sans-serif;
    /* font-family: 'Josefin Slab', serif; */
    font-weight:bolder;
    margin: 0.3em;
    color: #112A46;
}
