
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* font-family: 'Lato', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
/* font-family: 'Amatic SC', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Homemade+Apple&display=swap');
/* font-family: 'Homemade Apple', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
/* font-family: 'Comfortaa', cursive; */

.principal_div{
    padding: 0;
    box-sizing: border-box;
    background-color: #F1FAFF;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}


/* card */
.recipe_div{ 
    /* border: 2px solid black; */
    background-color: #FFD879;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    /* height: 33em; */
    margin: 10px;
    /* padding: 5px; */
    /* display: flex;
    flex-wrap: wrap; */
    
}
.recipe_div:hover{
    background-color: #FFC78C;
    width: 310px;
    /* height: 37em; */
    /* height: 300px; */
    transition: all 1000ms;
}
.recipe_div:hover .img{
    width: 310px;
    transition: all 1000ms;
}
.recipe_div:hover .info_div{
    /* width: 310px; */
    transition: all 1000ms;
    background-color: #FFC78C;
}
.recipe_div:hover .button_container{
    /* background-color: black; */
}


.navlink_container{
    /* border: solid brown; */
    text-decoration: none;    
}

.button_container{
    padding: 7px 25px;
    margin-top: 15px;
    border: none;
    /* background-color: #BEB5C6; */
    background-color: #DEC4AC;
    color: #112a46cf;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 3000ms;

}


/* card cover */
.img_div{
    /* border: solid blue; */
    width: 300px;
    width: 100%;
    height: auto;
    overflow: hidden;

}
.img{
    /* border: solid red; */
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    position: relative;
    display: block;
    margin: auto;
    overflow: hidden;
}

.info_div{
    /* border: solid peru; */
    /* background-color: bisque; */
    margin-top: -30px;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    align-content:stretch;
    
}
.info_div h2{
    /* border: solid blueviolet; */
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Comfortaa', cursive; */
    font-size: 2.3em;
    color: #112A46;
}

.info_div h4{
    /* border: solid goldenrod; */
    font-family: 'Lato', sans-serif;
    margin: 0.3em;
    color: #112A46;
}
