


.navBar_container{
    background-color: #05283b;
}

.navlink{
    padding: 7px 25px;
    margin: 5px;
    margin-top: 20px;
    border: none;
    /* background-color: #BEB5C6; */
    background-color: #DEC4AC;
    color: #112a46cf;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 3000ms;
}